.env
.venv/
*.env
db.sqlite3
/media/
staticfiles/
/venv/
/env/
/*.conda
/*.virtualenv
.idea/
.vscode/
*.log
__pycache__/
*.pyc
*.pyo
*.pem
*.pub

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
handshake/media
*.ini
