.input-wrapper {
    max-width: 100%;
    background: var(--color-white);
    border: 0.0625rem solid var(--color-neutral-400);
    border-radius: 0.3125rem;
    padding: 2px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.input-wrapper:focus-within {
    border-color: var(--color-primary-500);
    box-shadow: 0 0 0 0.25rem var(--color-primary-200);
}

.input-field {
    margin: 2px;
    padding: 2px 0;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
}

textarea.input-field {
    min-height: 15rem;
    max-height: 15rem;
    resize: vertical;
}

.select-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font: inherit;
}

.input-label {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.required-asterisk {
    color: var(--color-negative-500);
    font-size: 1rem;
    vertical-align: middle;
}

.error-text {
    color: var(--color-negative-500);
    font-size: 0.875rem;
}

.eyeIcon {
    color: var(--color-neutral-700);
}

.char-count {
    color: var(--color-neutral-500);
    font-size: 0.75rem;
}